@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form>
        Question 1
        <input type="checkbox" label=1>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        </br>
        </input>
        <span></span>
        Question 2
        <input type="checkbox" label=1>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        </br>
        <span></span>

        </input>
        Question 2
        <input type="checkbox" label=1>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        </br>
        <span></span>

        </input>
        Question 1
        <input type="checkbox" label=1>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        </br>

        </input>
        Question 1
        <input type="checkbox" label=1>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        </br>

        </input>
        Question 1
        <input type="checkbox" label=1>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        </br>

        </input>
        Question 1
        <input type="checkbox" label=1>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        </br>

        </input>
        Question 1
        <input type="checkbox" label=1>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        </br>

        </input>



    </form>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
