@{
    ViewData["Title"] = "View your results!";
}
<div class="container bg-light">
    <div class="col text-center">

        <h1>@ViewData["Title"]</h1>

        <img src="https://www.datapine.com/blog/wp-content/uploads/2014/06/Spider-Chart.png" />


    </div>

</div>